//colors
$primary: #1D3E8F;
// $primary: #7383ab;
// $primary: #d780cb;
// $secondary: #efc086;
$secondary: #efb972;
// $tertiary: #FDB727;
$tertiary: rgb(255, 255, 255, 0.7);

// $background: #080E4A;
$background: #eeebe9;
$success: #55ff55;
$danger: #ff5555;

//fonts



// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
// }
// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
// }
// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//   //sizes
//   $font-body: 1em;
//   $font-subtitle: 1.5em;
//   $font-header: 2em;
// }
// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   $font-body: 2em;
//   $font-subtitle: 2em;
//   $font-header: 3em;
// }