@use "reset";
@use "./../styles/vars" as v;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Antonio";
  src: url("/fonts/Antonio/Antonio-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter Light 300";
  src: url("/fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Inter Regular 400";
  src: url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
  letter-spacing: 2px;
  @media screen and (max-width: 1023px) {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
  @media screen and (max-width: 1023px) {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.5em; /* 30px/16=1.875em */

  @media screen and (max-width: 1023px) {
    font-size: 1.2em;
  }
}

h4 {
  font-size: 1.2em; /* 30px/16=1.875em */
  @media screen and (max-width: 1023px) {
    font-size: 1em;
  }
}

h5 {
  font-size: 1em; /* 30px/16=1.875em */
  @media screen and (max-width: 1023px) {
    font-size: 0.85em;
  }
}

p {
  line-height: 1.5em;
  font-size: 1em;
  @media screen and (max-width: 1023px) {
    font-size: 0.85em;
  }
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

span {
  font-weight: 600;
  color: "#ad887c";
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  font-family: "Inter", sans-serif; // Added fallback font}
  background-color: #F3F3F3;
  box-sizing: border-box; /* Ensures padding does not add to the total width */
}

#root {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center content horizontally */
  min-height: 100vh; /* Minimum height of the viewport */
  width: 100%; /* Take up full width */
}

::-webkit-scrollbar {
  display: none;
}

:hover {
  transition: 0.4s;
}

button {
  background-color: transparent;
  font-family: "Inter", sans-serif; /* Added fallback font */
  font-weight: 400;
  color: black;
  cursor: pointer;
  border: none;
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for color and background-color */

  &:focus, &:hover, &:active {
    outline: none;
    color: v.$accent; /* Use your variable or replace with a specific color */
    /* No need to repeat background-color if it remains unchanged */
  }}

.contact,
.about,
.experience,
.main,
.education,
.not-found {
  display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding-bottom: 0;
  text-align: right;
  // height: 100%;
  flex: 1;
width: 100vw;
}
