@use "./../../styles/vars";

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; // Stack children vertically
  justify-content: center; // Center horizontally
  overflow-y: hidden;
  // padding: 1em;

  &__mobile-header {
    display: flex;
    justify-content: space-between; // Spread elements horizontally
    align-items: center; // Center items vertically
    padding: 0 1em; // Adjust padding as needed
  }

  &__outer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    text-align: center;
    height: 100vh;
    overflow-y: auto; // Add overflow-y to enable scrolling if content exceeds viewport height
    
    @media screen and (min-width: 768px) {
      padding: 0 2em;
      text-align: left;
    }
  }

  &__inner-container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: auto; // Center horizontally
    padding: 0 1em;
    flex-direction: column; // Stack children vertically
    // 450 so that can see work completely
    height: 500px;
    overflow-y: auto; // Add overflow-y to enable scrolling if content exceeds container height

    @media screen and (min-width: 768px) {
      flex-direction: row; // Align children horizontally
      scale: 0.9;
    }
  }

  &__routes {
flex: 1;
  }

  // &__footer {
  //   width: 100%;
  //   padding: 2em;

  //   @media screen and (min-width: 768px) {
  //     padding: 0 2em;
  //     text-align: left;
  //   }
  // }
}
