@use "./../../styles/vars";

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; // Stack children vertically
  justify-content: center; // Center horizontally
  overflow-y: hidden;

  &__mobile-header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    img {
      height: auto; // Make sure the image height adjusts properly
    }
  }

  &__outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    text-align: center;
    height: 100vh;
    overflow-y: auto; // Add overflow-y to enable scrolling if content exceeds viewport height

    @media screen and (min-width: 1024px) {
      padding: 0 2em;
      text-align: left;
      flex: 1;
    }
  }

  &__inner-container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 1em 0;
    padding: 0 1em;
    flex-direction: column; // Stack children vertically
    // 450 so that can see work completely
    height: 450px;
    overflow-y: auto; // Add overflow-y to enable scrolling if content exceeds container height

    @media screen and (min-width: 1024px) {
      flex-direction: row; // Align children horizontally
      scale: 0.9;
      margin: auto;
      padding: 0;
    }
  }

  &__routes {
    flex: 1;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    @media screen and (max-width: 1023px) {
      align-items: center;
    }
  }
}
