@use "./../../styles/vars" as v;

.skills {
  display: grid;
  width: 100%;

  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); // Adjusted for a tighter layout
  gap: 15px; // Reduced gap for a compact look
  padding: 1.5em ;

  @media screen and (mAX-width: 727px) {
    grid-template-columns: repeat(auto-fill, minmax(152px, 1fr));
    padding: 1em 0;
    gap: 10px;
  }

  &__container {

    display: flex;
    min-height: 120px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FFF
    ; // White cards for a clean look
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Soft shadow for depth
    border-radius: 5px; // Rounded corners for a modern feel
    transition: box-shadow 0.3s ease; // Smooth shadow transition
    padding: 1em;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Slightly more pronounced shadow on hover

      // .skills__name {
      //   font-size: 0.8em; // Ensure the name is readable but not too prominent
      //   opacity: 1; // Show the name without moving the icon
      //   margin: 0.5em 0;
      // }
    }
  }

  &__icon {
    color: v.$secondary; // A corporate blue for icons
    font-size: 2rem; // Icon size kept large for visibility
    margin-bottom: 5px; // Space between icon and name
    // filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.1));

    @media screen and (mAX-width: 1023px) {
      font-size: 1.75rem; // Slightly smaller icons on mobile for balance
    }
  }

  &__name {
    // opacity: 0; // Start with the name hidden for a clean look
    transition: opacity 0.3s ease; // Smooth appearance for the name
    color: #e8c228b2; // Dark grey for text, ensuring readability
    text-transform: uppercase; // Avoid uppercase for a more formal appearance
    text-align: center;
    margin-top: 0; // Adjusted spacing
    font-size: 0.7em; // Small, legible font size
    // filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.1));

  }
}
