@use "./../../styles/vars" as v;

.header {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 90vh;
  justify-content: space-around;

  @media screen and (max-width: 1023px) {
  }
}
