@use "./../../styles/vars";

  .header {
display: flex;
  flex-direction: column;
  padding: 2em;
  height: fit-content;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
