@use "./../../styles/vars";

.copyright {
  padding: 1em;
  position: fixed;
  bottom: 0;
  font-size: 0.8em;
  width: 100%;
      color: #e5d9d5;
      text-align: right;
// for laptop
      @media screen and (max-width: 767px) {
        text-align: center;
      }
}

