@use './../../styles/vars';

.education-card {
  margin-top: 1em;
  font-family: vars.$fbody;

  &__body {
  display: flex;
flex-direction: column;
transition: background-color 0.3s ease, border-radius 0.3s ease;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 0.5em;
padding: 1em;
margin-bottom: 1em;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }}

  &__duration {
    display: flex;
    flex-direction: row;
    opacity: 0.6;
  }
  &__year {
    font-size: smaller;
    margin: 0 0.5em 0 0;
  }
  &__details {
    margin-top: 1em;
  }
  &__degree {
font-weight: 500;
  }
  &__school {
    margin-top: 1em;
    opacity: 0.6;
margin-bottom: 1em;


  }
  &__location {
font-size: 90%;
  }
  // &__skills {

  // }
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//   .education-card {
//   &__body {

//   }
//   &__duration {

//   }
//   &__year {

//   }
//   &__degree {

//   }
//   &__school {

//   }
//   &__location {

//   }
//   &__skills {
    
//   }
//   }
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//   .education-card {
//     &__body {

//     }
//     &__duration {
  
//     }
//     &__year {
  
//     }
//     &__degree {
  
//     }
//     &__school {
  
//     }
//     &__location {
  
//     }
//     &__skills {
      
//     }
//   }
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//   .education-card {
//     &__body {

//     }
//     &__duration {
  
//     }
//     &__year {
  
//     }
//     &__degree {
  
//     }
//     &__school {
  
//     }
//     &__location {
  
//     }
//     &__skills {
      
//     }
//   }
// }

// // /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   .education-card {

//   }
// }

//   //For Big TV's (HD Screens)
//   @media screen and (min-width: 1280px) {
//       .education-card {

//       }
//   }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1920px) {
//   .education-card {

//   }
// }