@use "./../../styles/vars" as v;

.cookie-consent-banner {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: fit-content;
    position: fixed;
    z-index: 60;
}