@use './../../styles/vars';

.background {
  &__1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    background: linear-gradient(85deg, #e3cccd, #c9afa4, #e3cccd, #e3cccd);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 40s ease infinite;
    -moz-animation: AnimationName 40s ease infinite;
    animation: AnimationName 40s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
@keyframes AnimationName {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
  

  &__5 {
    width: 90%; /* Change width to a percentage of the viewport width */
    height: 90%; /* Change height to a percentage of the viewport width (making it a square) */
    z-index: -2;
    margin-left: 30%; /* Change margin-left to a percentage of the viewport width */
    // background: #f099c9;
    position:fixed;
    opacity: 0.4;
    transform: translateX(-50%); /* Center horizontally */
  }
}
// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//     .background {
    
//     }
//   }
  
//   /* Small devices (portrait tablets and large phones, 600px and up) */
//   @media only screen and (min-width: 600px) {
//     .background {

//     }
//   }
  
// //   /* Medium devices (landscape tablets, 768px and up) */
//   @media only screen and (min-width: 768px) {
//     .background {
  
//     }
//   }
  
//   // /* Large devices (laptops/desktops, 992px and up) */
//   @media only screen and (min-width: 992px) {
//     .background {
      
//     }
//   }
  
//     //For Big TV's (HD Screens)
//     @media screen and (min-width: 1280px) {
//         .background {
        
//         }
//     }
  
//   /* Extra large devices (large laptops and desktops, 1200px and up) */
//   @media only screen and (min-width: 1920px) {
//     .background {
     
//     }
//   }